# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\蓝桥\java基础源代码\myjdesigner_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
